//- module
doctype html
html
  include /modules/common.pug
  block vars
  head
    meta(charset="utf-8")
    block prehead
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(property="og:url", content=meta.url)
    meta(name="description", content=meta.description)
    meta(property="og:title", content=meta.title)
    meta(property="og:description", content=meta.description)
    meta(property="og:locale",content="zh_TW")
    meta(property="og:image",content=meta.thumbnail)
    meta(property="og:image:type",content=meta.thumb.type || "image/jpeg")
    meta(property="og:image:width",content=meta.thumb.width || "1200")
    meta(property="og:image:height",content=meta.thumb.height || "630")
    meta(property="og:type", content=meta.ogtype || "website")
    meta(name="twitter:card",content=meta.twtcardtype || "summary")
    meta(name="twitter:site",content="@g0v.tw")
    meta(name="twitter:title",content=meta.title)
    meta(name="twitter:description",content=meta.description)
    meta(name="twitter:creator",content="@g0v.tw")
    meta(name="twitter:image",content=meta.thumbnail)
    link(rel="icon",type="image/png",href="/favicon.png")
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "@loadingio/loading.css", path: "lite.min.css"},
      {name: "ldiconfont"},
      {name: "ldloader"},
      {name: "ldcover"},
      {name: "ldbutton"},
      {url: "/css/index.css"}
    ])
    link(rel="preconnect",href="https://fonts.googleapis.com")
    link(rel="preconnect",href="https://fonts.gstatic.com",crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700&family=Roboto&display=swap",
    rel="stylesheet")
    style(type="text/css"): :stylus
      html, body
        width: 100%
        margin: 0
        padding: 0
        font-family: 'Noto Sans TC', 'Roboto', sans-serif;
        font-size: 22px
    block head
  body
    include /modules/navtop.pug
    block body
    +script([
      {name: "i18next", path: "dist/umd/i18next.min.js"},
      {name: "i18next-browser-languagedetector", path: "dist/umd/i18nextBrowserLanguageDetector.min.js"},
      {name: "bootstrap.native", path: "dist/bootstrap-native-v4.min.js"},
      {name: "proxise"},
      {name: "@loadingio/ldquery"},
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldc"},
      {name: "zmgr"},
      {name: "ldview"},
      {name: "ldcover"},
      {name: "ldcvmgr"},
      {name: "lderror"},
      {name: "ldloader"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/block"},
      {name: "@servebase/auth"},
      {name: "@servebase/consent"},
      {name: "@servebase/captcha"},
      {name: "@servebase/core"},
      {name: "@servebase/navtop"},
      {name: "@servebase/connector"},
      {name: "@plotdb/suuid", path: "index.bundle.min.js"},
      {name: "@plotdb/json0", path: "json0.min.js"},
      {name: "@plotdb/ews", path: "sharedb.min.js"},
      {name: "@plotdb/ews"},
      {name: "@plotdb/ews", path: "sdb-client.min.js"},
      {name: "@plotdb/datahub", path: "datahub.min.js"},
      {name: "@plotdb/datahub", path: "sharehub.min.js"},
      {url: "/js/site.min.js"}
    ])
    block script

